.container {
    border-radius: 20px;
    background-color: white;
    max-width: 400px;
    padding: 50px;

    display: flex;

    .right-box {
        .label-row {
            display: flex;
            flex-direction: column;
        }
    }

    .left-box {
        border-radius: 20px;
        background-color: rgb(239, 156, 54);
    }
}