<div class="container">
    <div class="right-box">
        <form>
            <div class="form-group">
                <label for="currency-field">Bill</label>
                <input type="number" [(ngModel)]="billObj.billValue" pattern="\d*" name="currency-field" id="currency-field" min="0" (change)="calculeValues(); setValidation()">
                <p class="error" *ngIf="error.billValueHasError"> {{ error.messageError }} </p>
            </div>

            <div class="form-group">
                <label for="bill">Select Tip %</label>
                <div class="row">
                    <button class="btn-tip" (click)="billObj.tipPercentage = 5; calculeValues()" type="button">5%</button>
                    <button class="btn-tip" (click)="billObj.tipPercentage = 10; calculeValues()" type="button">10%</button>
                    <button class="btn-tip" (click)="billObj.tipPercentage = 15; calculeValues()" type="button">15%</button>
                    <button class="btn-tip" (click)="billObj.tipPercentage = 20; calculeValues()" type="button">25%</button>
                    <button class="btn-tip" (click)="billObj.tipPercentage = 50; calculeValues()" type="button">50%</button>
                    <button class="btn-tip" type="button" (click)="showCustomTip = !showCustomTip">Custom</button>
                </div>
                <div class="row mt-30" *ngIf="showCustomTip">
                    <label for="custom-tip">Custom Tip</label>
                    <input type="number" [(ngModel)]="billObj.tipPercentage" pattern="\d*" name="custom-tip" id="custom-tip" min="0" (change)="calculeValues(); setValidation()">
                    <p class="error" *ngIf="error.tipPercentageHasError"> {{ error.messageError }} </p>
                </div>
            </div>

            <div class="form-group">
                <label for="people">Number of People</label>
                <input type="number" id="people" name="people" pattern="\d*" [(ngModel)]="billObj.numberOfPeople" (change)="calculeValues(); setValidation()" min="1" max="1000000" />
                <p class="error" *ngIf="error.numberOfPeopleHasError"> {{ error.messageError }} </p>
            </div>
        </form>
    </div>
    <div class="left-box">
        <div id="values">
            <div class="row">
                <label>Tip Amount <br> <span> / Person</span> </label>
                <span class="total">$ {{ billObj.tipAmountPerPerson }}</span>
            </div>
    
            <div class="row">
                <label>Total <br> <span> / Person</span> </label>
                <span class="total">$ {{ billObj.totalPerPerson }}</span>
            </div>
        </div>
        <div>
            <button class="btn-reset" type="button" (click)="resetValues()">Reset</button>
        </div>
    </div>
</div>