.container {
    border-radius: 20px;
    background-color: white;
    max-width: 800px;
    padding: 25px;
    font-size: 20px;

    display: flex;

    .right-box {
        max-width: 310px;

        .form-group {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: -webkit-fill-available;

            label {
                margin-bottom: 5px;
            }

            .row { 
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
                row-gap: 10px;

                .btn-tip { 
                    background-color: #ef9c36;
                    padding: 10px 20px;
                    color: white;
                    border: none;
                    border-radius: 4px;
                }
            }
        }


        input { 
            font-size: 18px;
            padding: 5px;
            color: #ef9c36;
            background-color: rgb(250, 235, 210);
            border: none;
            outline: none;
        }
    }

    .left-box {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #ef9c36;
        width: 325px;
        padding: 21px;

        #values {
            flex: 1;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
    
                label {
                    font-size: 16px;
                    color: white;
                    span {
                        font-size: 12px;
                    }
                }
    
                .total {
                    font-size: 40px;
                    color: rgb(250, 235, 210);
                }
            }
        }

        .btn-reset { 
            width: 100%;
            padding: 15px;
            border: none;
            background-color: rgb(250, 235, 210);
            border-radius: 5px;
        }
    }

    .mt-30 {
        margin-top: 30px
    }
}